
<nav class="navbar navbar-expand-lg navbar-light bg-light web">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EgyTour</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">

      <ul class="navbar-nav first">
        <li class="nav-item">
          <a class="nav-link " href="#"><i class="fa-solid fa-house fs-4 text-primary"></i></a>
        </li>

        <li class="nav-item first">
          <a class="nav-link mx-2 mt-1" routerLink="trips">MyTrips</a>
        </li>
       
          <li class="nav-item ">
            <a class="nav-link mx-2"routerLink="post"><i class="fa-solid fa-users-line fs-4 text-primary"></i></a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link " href="#"><i class="fa-solid fa-bell fs-4 text-primary"></i></a>
          </li>
            
          <li class="nav-item login">
            <a class="btn btn-login px-3 mx-3" routerLink="user/login" >Login</a>
          </li>
        <li class="nav-item signup">
          <a class=" btn btn-primary" routerLink="user/signup">Sign up</a>
        </li>
        <li class="nav-item ">
          <a class=" px-3 mx-3 nav-link text-dark" routerLink="user/login">Hello,{{loggedUserFname}}</a>
        </li>
        <li class="nav-item signout" >
          <a class="btn btn-danger px-3 mx-3" routerLink="user/login"(click)="handleSignOut()">Sign out</a>
        </li>
        

      </ul>
    </div>
  </div>
</nav> 

 <!-- mobile navbar   -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light mobile">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EgyTour</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse d-flex">

      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home</a>
        </li>
      
        <li class="nav-item first">
          <a class="nav-link" routerLink="trips">MyTrips</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="post">Feed</a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link " href="#">Notification</a>
          </li>
        
        
        <li class="nav-item">
          <a class="nav-link " routerLink="service">Service</a>
        </li>
       
          <li class="nav-item "#login>
            <a class="nav-link"routerLink="user/login">Login</a>
          </li>
       
        <li class="nav-item" #signup>
          <a class="nav-link" routerLink="user/signup">Sign up</a>
        </li>

        <li class="nav-item d-none" #signout>
          <a class="btn btn-danger px-3 mx-3" routerLink="user/login">Sign out</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

