.nav-item {
    font-size: 1.05rem;
}
.first{
    flex-grow: 1;
}
@media(max-width: 991px) {
  
    .mobile{
        display: block !important;
    }
 
  .web {
    display: none !important;;
  }
}


.btn-login{
    border: 1px solid #dbd8d8;
}

.btn-login:hover{
    background-color: #dbd8d8;
    transition: 0.3s ease-in-out all;
} 
 .mobile{
    display: none;
}

.mobile li:hover{
    background-color: #dbd8d8;
}