<section>
    <div class="d-flex content flex-column">
            <p class="header-text">{{serviceName}}</p>
            <div class="d-flex my-3">
                <div *ngFor="let item of ratingarray">
                    <p><i class="fa-solid fa-star text-white bg-danger p-1 mx-1  fs-6" 
                        style="border-radius: 15% ; background-color: red !important;"></i></p>
                </div>          
        </div>
        <p class="text-white fs-4 fw-bold">Working Hours : <span class="text-white fs-5"> {{WorkingHoursStart| date:"h:mm a"}}  - {{WorkingHoursEnd| date:"h:mm a"}}</span></p> 
        <p class="text-white fs-4 fw-bol">Location : <span class="text-white fs-5">{{City}}</span></p>
            </div>
           
    
</section>
