<section>
    <div class="d-flex content flex-column">
            <p class="header-text">The Fayoum Grand Hotel</p>
            <div class="d-flex my-3">
                <div *ngFor="let item of ratingarray">
                    <p><i class="fa-solid fa-star text-white bg-danger p-1 mx-1 star fs-6"></i></p>
                </div>          
        </div>
        <p class="text-white fs-4 fw-bold">Working Hours : <span class="text-white fs-5"> {{WorkingHours}}</span></p> 
        <p class="text-white fs-4 fw-bol">Location : <span class="text-white fs-5">{{Location}}</span></p>
            </div>
           
    
</section>
