
<pre>






</pre>
<section class="container ">
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-12"><img src="pyramids.jpg" class="img  px-2" alt="" width="200px" height="200px">
<h2>Search fast, search smart</h2>
<p>Browse hundreds of properties in your city of choice.
     Save your favorites and set up search alerts
      so you don't miss your dream place!</p>
</div>
<div class="col-lg-3 col-md-6 col-sm-12"><img src="pyramids.jpg" class="img px-2" alt="" width="200px" height="200px">
    <h2>Search fast, search smart</h2>
    <p>Browse hundreds of properties in your city of choice.
         Save your favorites and set up search alerts
          so you don't miss your dream place!</p></div>
<div class="col-lg-3 col-md-6 col-sm-12"><img src="pyramids.jpg" class="img px-2" alt="" width="200px" height="200px">
    <h2>Search fast, search smart</h2>
    <p>Browse hundreds of properties in your city of choice.
         Save your favorites and set up search alerts
          so you don't miss your dream place!</p></div>
<div class="col-lg-3 col-md-6 col-sm-12"><img src="pyramids.jpg" class="img  px-2" alt="" width="200px" height="200px">
    <h2>Search fast, search smart</h2>
    <p>Browse hundreds of properties in your city of choice.
         Save your favorites and set up search alerts
          so you don't miss your dream place!</p></div>
</div>
<br>
<br>
<div class="text-center">
    <button class="btn btn-warning text-dark">Learn More</button>

</div>
<pre>


</pre>
</section>
