<div class="row d-flex flex-column mt-3">
    <div class="col-md-2 header w-100">
      <img [src]= "userImgUrl" alt="User Profile Image" class="img-fluid rounded-circle">
      <p>{{userFname}} {{userLname}}</p>
    </div>
    <div class="col-md-10">
      <div class="d-flex mt-3 ms-2">
        <p [innerHTML]="reviewRate | convertRatingToStars"></p>
        <p class="ms-3 my-1">{{reviewDate | date}}</p>
      </div>
    <p class="w-75 w-md-50">Review: {{reviewContent}}</p>
    </div>
  </div>


  <!-- export interface IserviceReview {
    reviewId :string;
    date:Date;
    rating:number;
    reviewer:IReviewer
    content:string
}
  -->