<div class="row">
    <div class="col-md-2">
      <img src="../../../../assets//images//avatar-male.png" alt="User Profile Image" class="img-fluid rounded-circle">
    </div>
    <div class="col-md-10">
      <h4>Kareem salah</h4>
      <p>Rating: 4.5/5 stars</p>
      <p>Review Time: January 1, 2023</p>
      <p>Review Content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et velit euismod, ultricies libero vel, sagittis nunc. Quisque ut semper nibh, vitae pulvinar nulla.</p>
    </div>
  </div>