<div class="row d-flex flex-column mt-3">
    <div class="col-md-2 header w-100">
      <img src="../../../../assets//images//avatar-male.png" alt="User Profile Image" class="img-fluid rounded-circle">
      <p>Kareem salah mohamed Ali</p>
    </div>
    <div class="col-md-10">
      <div class="d-flex mt-3 ms-2">
        <p [innerHTML]="5 | convertRatingToStars"></p>
        <p class="ms-3 my-1">January 1, 2023</p>
      </div>
      <p class="w-75 w-md-50">Review Content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et velit euismod, ultricies libero vel, sagittis nunc. Quisque ut semper nibh, vitae pulvinar nulla.</p>
    </div>
  </div>

 