<form action="/process-comment" method="POST">
  <div class="row">
    <label class="fs-2 mt-5 mb-3">Write a review </label>
      <div class="col-sm-12 d-flex">
    
          <ul class="list-inline rating-list" 
              *ngFor="let star of stars" style="display: inline-block" >
                <li (click)="countStar(star)"
                    [ngClass]="{'selected': (star <= selectedValue)}">
                  <i class="fa fa-star fs-5 mx-2 my-2"></i>
                </li> 
          </ul>
          <p class="text-secondary fs-6 my-auto ms-2">select your rating</p>
      </div>
      <div>

  <!-- <label for="comment" >Comment:</label><br> -->
  <textarea id="comment" name="comment" rows="6" cols="54" class="mt-3"></textarea><br>

  <input type="submit" value="Submit" style="background-color: red;" class="btn btn-danger mb-4 mt-2">
</div>
</div>
</form>

