<div class="container mb-5 ">
    <div class="row"  *ngFor="let item of post let x =index">
       <div class="col-md-8 mx-auto">
          <div class="card mt-5">
             <div class="card-header d-flex  align-items-center">
                <div class="d-flex align-items-center mt-2 header">
                   <img src={{item.writer.profilePictureUrl}} alt="profile picture" class="rounded-circle mr-3" width="50rem;">
                   <h6 class="fs-6 my-auto ms-2 name">{{item.writer.fname}} {{item.writer.lname}}</h6>
                </div>
                <span class="text-muted">{{item.datePosted | timeOnly}}</span>
                <div></div>
             </div>
             <div class="card-img-top">
                <img src={{item.pictureIds[0]}} alt="post image" class="post-img">
             </div>
             <div class="card-body">
                <div class="d-flex align-items-center" >
                   <div class="d-flex align-items-center heart" (click)="checkLiked(item.id)" id="like">
                      <i class="fas fa-heart mr-2 fs-4 "(click)="toggleLike(item)" [style]="item.isLiked?'color:red' :'color:rgb(231, 222, 206)'"></i>
                   </div>
                   <span class="ms-2 text-muted" >{{item.likersIds.length}} Likes</span>

                </div>
                <div class="my-3">
                   <p class="mb-0">{{item.content}}</p>
                </div>
                <div>
                    <input placeholder="Add a comment..." name="content" [(ngModel)]="comments[x].content" (click)="getPostId(item.id)" #commentInput>
                    <button class="btn text-primary ms-2" (click)="addCommentToPost(comments[x])">Post</button>
                </div>
                <div class="spinner-border d-flex mx-auto my-3" role="status" *ngIf="ProcessingComment">
                  <span class="visually-hidden ">Loading...</span>
                </div>
                <div *ngFor="let comment of item.comments" class=" mb-1">
                  <div class="d-flex justify-content-between" >
                     
                     <p class="comment-name">{{comment.fname}} {{comment.lname}}</p> 
                   
                     <span class="text-muted">{{comment.date  | timeOnly}}</span>
                     <button id="btn-delete"mat-icon-button aria-label="Example icon-button with a menu"
                     [matMenuTriggerFor]="menu" #menuTrigger><mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                     <button mat-menu-item (click)="openDialog(item.id,x,comment.writerId)">Delete</button>
                     </mat-menu>
                  </div>
                  <div class=" d-flex flex-column">
                     <textarea id="Description"
                     matInput
                     [value]="comment.content"
                     cdkTextareaAutosize
                     #autosize="cdkTextareaAutosize"
                     cdkAutosizeMinRows="1"
                     cdkAutosizeMaxRows="10" class="rounded-4"></textarea>

                   
                       
                  </div>

                  </div>
             </div>
          </div>
       </div>
    </div>
 </div>

<!-- 
 <div class="container mb-5">
   <div class="row">
      <div class="col-md-8 mx-auto">
         <div class="card mt-5">
            <div class="card-header d-flex  align-items-center">
               <div class="d-flex align-items-center mt-2 header">
                  <img src="../../../../assets/images/avatar-male.png" alt="profile picture" class="rounded-circle mr-3" width="50rem;">
                  <h6 class="fs-6 my-auto ms-2 name">mohamed Ali</h6>
               </div>
               <span class="text-muted">30 min ago</span>
               <div></div>
            </div>
            <div class="card-img-top">
               <img src='../../../../assets/images/aswan-card.jpg' alt="post image" class="post-img">
            </div>
            <div class="card-body">
               <div class="d-flex align-items-center" >
                  <div class="d-flex align-items-center heart" (click)="checkLiked()" id="like">
                     <i class="fas fa-heart mr-2 fs-4 " [style]="isLiked?'color:red' :'color:rgb(231, 222, 206)'"></i>
                  </div>
                  <span class="ms-2 text-muted" >4 Likes</span>

               </div>
               <div class="my-3">
                  <p class="mb-0">such a wonderful place ...</p>
               </div>
               <div>
                   <input placeholder="Add a comment..."/>
                   <button class="btn text-primary ms-2">Post</button>
               </div>
               <div>
                  <a href="#" class="text-decoration-none font-weight-bold mr-3" >see all 5 comments</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->