    <div class="sidebar">
        <h3>My Trips</h3>
        <div class="add-trip">
            <button class="add-button sticky-top btn btn-dark"  (click)="openDialog('0ms', '0ms')">New Trip</button>
        </div>
        <ul>
            <li *ngFor="let trip of trips">
                <span>{{ trip }}</span>
                <button class="delete-button" (click)="deleteTrip(trip)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </li>
        </ul>
    </div>

