/* .header-text {
  color :#9a9a9a;
}

/* @media screen and (min-width:576px) {
  .carousel-inner {
    display: flex;
    
  }
  .carsouel-item{
    display: block;
    margin-right: 0;
    flex:0 0 calc(100%/3)
  }
} */
/* 
.img-wrapper{
  max-width: 100%;
  height: 65vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
img{
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width:576px) {
  .carousel-inner{
    display: flex;
  }
  .carousel-item{
    display:block;
    margin-right: 0;
    flex: 0 0 calc(100%/4);
  }
  .img-wrapper{
    height: 23vw;
  }
 .carousel-inner{
  padding: 1em;
}
  .card{
    margin: 0 .5em;
  }
  
} */

.card{
  margin: 0 .5em;
}