<!-- header section -->
<div class="d-flex flex-column my-5">
  <p class="mx-auto fs-2 ">Explore our most popular cities</p>
  <p class="fs-5 mx-auto header-text">See what those cities have to amaze you</p>
</div>

<!-- card section -->
<section class="d-flex my-5 overflow-hidden container-fluid">

      <div class="mx-auto d-flex">
           <app-city-card class="mx-2"></app-city-card>
            <app-city-card class="mx-2"></app-city-card> 
            <app-city-card class="mx-2"></app-city-card>      
            <app-city-card class="mx-2"></app-city-card>      
      </div>
    
</section>

