<div class="row mt-5" [ngClass]="{hoverin : mousein , hoverout: mouseout}" (mouseenter)="MouseIn()" (mouseleave)="MouseOut()">
  <div class="col-3 p-3">
    <div id={{carousalId}} class="carousel slide">
      <div class="carousel-inner">
        <div *ngFor="let item of searchService.images;index as i " class="carousel-item active">
          <img  [src]="baseUrl+searchService.images[i].url"
            class="d-block w-100">
        </div>
        <div *ngIf="searchService.images.length==0" class="carousel-item active">
          <img  src="https://img.freepik.com/free-vector/flat-design-world-tourism-day-style_23-2148639397.jpg?3&w=740&t=st=1681851407~exp=1681852007~hmac=e8698a6083ab04c507706da6edf1d71957b679f8af50aac350c6df30cd8c4ab4" class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" [attr.data-bs-target] = "hashcarousalId" data-bs-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" [attr.data-bs-target] ="hashcarousalId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-7">
    <div class="p-3">
      <a href="#" style="font-weight: bold;">{{searchService.name}}</a>
      <br><br>
      <div class="Back" style="position: absolute;">
        <div style="width: 300px;">
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#F4EFFA"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#F4EFFA"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#F4EFFA"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#F4EFFA"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#F4EFFA"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#F4EFFA"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
        </div>
      </div>
      <div class="crop" [style.width.px]="cropWidth" style="position: absolute;">
        <div style="width: 300px;">
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#ff1600"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#ff1600"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#ff1600"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#ff1600"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#ff1600"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
          <span class='fa-stack fa'>
            <i class='fas fa-square fa-stack-2x' style="color:#ff1600"></i>
            <i class='fas fa-star fa-stack-1x' style="color:white"></i>
          </span>
        </div>
      </div>
      <div class="mt-5">
        <span *ngIf="isOpen" class="bg-success font text-white p-1" style="border-radius: 2px;">open now</span>
        <span *ngIf="!isOpen" class="bg-danger font text-white p-1" style="border-radius: 2px;">Closed</span>
        <span *ngIf="isOpen" style="margin-left: 10%;"> closes &nbsp;{{searchService.workingHoursEnd | timeOnly }}  </span>
        <span *ngIf="!isOpen" style="margin-left: 10%;"> Opens &nbsp;{{searchService.workingHoursStart | timeOnly }}  </span>
      </div>
      <br>
      <i class="far fa-comment" style="color: #000000;"></i>
      {{searchService.firstReview|slice:0:100}} <br>
      {{searchService.firstReview|slice:100:160}}...
    </div>

  </div>

</div>
