<div class="container">
  <div class="row">

    <!-- left side bar section  -->
    <div class="col-2 mt-5">
      <br><br><br><br><br>

      <!-- Filter Section -->

      <p  style="font-size:medium;font-weight: bold;" >Filters</p>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Search For Services
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Search For Locals
        </label>
      </div>
      <hr style="width: 150px;">

      <!-- city section -->
      <p  style="font-size:medium;font-weight: bold;" >City</p>

      <mat-form-field appearance="fill">
        <mat-label>Select a city</mat-label>
        <mat-select disableRipple>
          <mat-option (click)="pickcity(i)" *ngFor="let city of citieNames;  index as i" [value]="city">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <!-- search  -->
    <div class="col-10  mt-3" style="border-radius: 5px;">
      <div class="row mt-4 ml-3">
        <div class="active-pink-4  input-group " style="width: 700px;height: 50px;">
          <input (keydown.enter)="search()" class="form-control shadow " [(ngModel)]="searchString"  type="text" placeholder="Search" aria-label="Search"
            style="border-radius: 0px">
          <button  (click)="search()" type="button" class="btn btn-danger shadow" style="width:60px;border-radius: 0px;">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <div *ngIf="showSpinner" class="spinner-border"  role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div *ngFor="let item of serviceList.services;index as i">
        <app-Search-Card [searchService]="item" [carousalId]="item.name" (click) = "openServiceDetails(item.id)"></app-Search-Card>
      </div>

    </div>
    <div class="row mt-5 mb-5">
       <!-- pagination -->
       <mat-paginator (page)="RefreshService($event)" [length]="numberOfPages"
              pageSize="8"
              aria-label="Select page">
       </mat-paginator>
    </div>
  </div>
</div>
