<div class="container-fluid">
  <div class="row">

    <app-trips-sidebar class="col-2 vh-100 overflow-auto sticky-top" style="padding: 0;">
    </app-trips-sidebar> 
    <div class="col-10">
      <div class="row bg-primary" id="backgroundimage" style="height: 30%; padding: 0;overflow:hidden;">
        <img cdkDrag [src]="trip.backgroundImage" style="padding: 0%;height: 1000px;">
      </div>
      <div class="row position-relative" style="bottom: 40px;width: 15%;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-light ">Change Cover</button>
          <button type="button" class="btn btn-light">Change Position</button>
        </div>
      </div>
      <div style="margin: auto;">
        <app-photo-wall [photos]="myPhotos"></app-photo-wall>
      </div>
    </div>
  </div>
</div>