::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img{
  object-fit:cover !important;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

div button {
  font-size:x-small ;
  padding: 5px;
  border-radius: 1px;
}

.hidden{
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.modal {
  position:absolute;
  top:30%;
  left:18%;
  border-radius: 2px !important;
}
input.transparent-input{
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
  width: 50%;
  font-size: xx-large;
  position: relative;
  left: 25%;
}
input.transparent-input:focus{
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
  box-shadow: none !important;

}

#Description{
  border:none !important;
  background-color:rgba(0,0,0,0) !important;
  font-size: large;
  position: relative;
  left: 25%;
  width: 50%;
  margin-top: 2%;

}

#Description{
  border:none !important;
  font-size: large;
  position: relative;
  left: 25%;
  width: 50%;
  margin-top: 1%;
  overflow: hidden;

}
#Description:focus{
  outline: none;
}
input:focus::placeholder,#Description:focus::placeholder {
  color: transparent;
}


