    <div class="s131">
      <form class="search-container d-flex rounded-2">
        <div class="inner-form ">
          <div class="input-field w-100" >
            <input class="form-control shadow " id="search" type="text" placeholder="Search for a service" name="searchInput" [(ngModel)]="searchInput"/>
          </div>
          <div class="input-field third-wrap">
            <button  class="btn btn-search shadow" type="button">
              <a style="color: white;text-decoration: none;" [routerLink]="['/search']"
              [queryParams]="{q:searchInput,city:cityName}"
              > Search</a>
            </button>
          </div>
        </div>
      </form>
    </div>
